@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* html {
    height: 100vh;
}

body {
    height: 100%;
} */

:root {
    --Montserrat: 'Montserrat', sans-serif;
    --Mystery-Quest: 'Mystery Quest';
    --Noto-Sans: 'Noto-Sans', sans-serif;
    --Poppins: 'Poppins', sans-serif;
}

h1 {
    font-family: var(--Montserrat);
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #291507;
}

.container {
    padding: 0 96px;
    margin-bottom: 50px;
    min-height: 100vh;
}

.container header {
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
}

.container .search-section {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 120px 70px;
    height: fit-content;
    background-image: url(../assets/img/HeroImagesm.png) !important;
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0;
}

.container .search-section .banner-texts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.container .search-section .search-section-title {
    font-size: 64px;
    letter-spacing: 0px;
    font-family: Mystery Quest;
    color: #FFFFFF;
}

.container .search-section p {
    width: 100%;
    font-size: 40px;
    font-family: var(--Montserrat);
    color: #FFFFFF;
}

.container .search-section .box-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    height: 50px;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 0 10px;
}


/* .container .search-section .box-input div {
    font-size: 18px;
    display: flex;
    align-self: center;
    width: 15%;
    justify-content: flex-end;
} */

.container .search-section .box-input input {
    width: 90%;
    height: 100%;
    border: none;
    font-size: 18px;
    font-family: var(--Montserrat);
    outline: 0;
    color: #291507;
    border-radius: 20px;
} 

.possible-outcomes {
    position: absolute;
    width: 35%;
    height: 160px;
    background-color: #fff;
    top: 85%;
    border-radius: 24px;
    overflow-y: scroll;
}

.container .search-section .box-input input:hover .possible-outcomes{
    display: block;
}
.possible-outcomes ul {
    margin: 10px 20px;
    list-style: none;
}

.possible-outcomes ul li {
    font-family: var(--Montserrat);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
    padding: 10px 10px;
    transition: transform .3s ease-in-out;
    cursor: pointer
}

.possible-outcomes ul li:hover {
    background-color: #ccc;
    border-radius: 10px;
    transform: scale(1.05, 1.05);
    font-weight: 600;
}

.container .most-wanted-section {
    width: 100%;
    background-color: #E3E1DC;
    padding: 20px 70px 0;
    border-radius: 0px 0px 50px 50px;
}

.container .most-wanted-section>div:nth-child(1) {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    margin-top: 30px;
}

.container .most-wanted-section div:nth-child(1) div {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.most-wanted-section-text-1 {
    font-family: var(--Montserrat);
    font-weight: 500;
    font-size: 20px;
    color: #291507;
}

.most-wanted-section-text-2 {
    font-family: var(--Montserrat);
    font-weight: 700;
    font-size: 40px;
    color: #291507;
    padding: 30px 0;
}

.see-more-1 {
    font-family: var(--Montserrat);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: rgba(41, 21, 7, 0.6);
    padding: 30px 0;
}

.container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}


.card {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    width: 220px;
    height: 250px;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 60%;
    border-radius: 24px;
    margin-bottom: 10px;
}

.card p {
    font-size: 18px !important;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    color: #291507;

}

.container .motivation {
    display: flex;
    align-items: center;
    margin-top: 70px;
}

.container .motivation .motivation-texts {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    justify-content: space-around;
    /* margin-top: 70px; */
}

.container .motivation .motivation-texts h1 {
    font-family: var(--Montserrat);
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #291507;
}

.container .motivation .motivation-texts p {
    font-family: var(--Montserrat);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-top: 20px;
}

.see-more {
    font-family: var(--Montserrat);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: rgba(41, 21, 7, 0.6);
    margin-top: 100px;
}

.container .motivation .grid-images {
    display: flex;
    flex-basis: 60%;
    margin-left: 70px;
}

.container .motivation .grid-images .column-1 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 45%;
    height: 100%;
}

.container .motivation .grid-images .column-1 div {
    width: 100%;
    padding: 20px;
}

.container .motivation .grid-images .column-1 img {
    width: 100%;
}

.container .motivation .grid-images .image-3 {
    width: 55%;
    padding: 20px;
}

.container .motivation .grid-images .image-3 img {
    width: 100%;
    height: 100%;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    height: 100px;
    margin: 0 auto;
    padding: 0 50px 0 100px;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 50px 50px 0 0;
}

footer p:nth-child(1) {
    font-family: 'Mystery Quest';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
}

footer p:nth-child(2) {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

/* ------------------------------ BREED SCREEN --------------------------------------- */


.container .about-breed {
    /* display: flex;
    justify-content: center; */
    margin-top: 50px;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: 295px 1fr;
    column-gap: 50px;
}

.container .about-breed .breed-photo {
    width: 295px;
    height: 295px;
    border-radius: 24px;
}

.container .about-breed .breed-photo img {
    width: 100%;
    height: 100%;
    border-radius: 24px;
}

.container .about-breed .breed-info h3 {
    width: 132px;
    height: auto;
    font-family: var(--Montserrat);
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    color: #291507;
    margin-bottom: 25px;
}

.container .about-breed .breed-info .breed-description {
    height: auto;
    font-family: var(--Montserrat);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #291507;
    margin-bottom: 32.75px;
}

.container .about-breed .breed-info p b {
    font-family: var(--Montserrat);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.container .about-breed .breed-info .text-spect {
    height: auto;
    font-family: var(--Montserrat);
    margin-bottom: 20px;
}

.specs-container {
    display: flex;
}

.specs-container .specs {
    display: block;
    width: fit-content;
}

.specs-container .levels {
    flex: 1;
    margin-top: 15px;
}

.specs-container .specs p {
    display: flex;
    align-items: center;
    height: 40px !important;
}

.specs-container .levels .level {
    background-color: #E0E0E0;
    height: 15px;
    margin: 0px 0px 25px 10px;
    border-radius: 10px;
}

.specs-container .levels .level .progress {
    height: 100%;
    width: 0%;
    background-color: black;
    border-radius: 10px;
}

.specs-container .levels span {
    display: flex;
    width: 50px;
    height: 12px;
    background: #544439;
    border-radius: 8px;
    float: left;
}

.container .other-photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 160px;
}

.container .other-photos .photo {
    width: 278px;
    height: 278px;
    margin: 10px;
    border-radius: 24px;
}

.container .other-photos .photo img {
    width: 100%;
    height: 100%;
    border-radius: 24px;
}

/* -------------------------------- top 10 most wanted cats -------------------------------------- */

.top-list {
    width: 100%;
    margin-top: 50px;
}

.top-list-item {
    display: flex;
    margin-bottom: 50px;
}

.cat-photo {
    width: 170px;
    height: 170px;
}

.cat-photo img {
    width: 100%;
    height: 100%;
}

.cat-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 70%;
    margin-left: 50px;
}

.cat-description h2 {
    font-family: var(--Montserrat);
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #291507
}

.cat-description p {
    font-family: var(--Montserrat);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #291507;
}

.none {
    display: none;
}

.pointer {
    cursor: pointer;
}

.uncompleted {
    background-color: #E0E0E0;
}

.completed {
    background-color: #544439;
}